body{
  background: rgb(13,198,237);
  background: linear-gradient(0deg, rgba(13,198,237,1) 40%, rgba(253,187,45,0) 100%); 
  background-attachment: fixed;
  margin:0;
}

#form{
  margin: 10vh auto 0;
  width: 400px;
  padding: 20px;
  background-color:lightcyan;
  border-radius: 5px;
}

h2{
  text-align: center;
  color: cadetblue;
  margin: 5px 0;
}

button{
  background-color: cadetblue;
  color: lightblue;
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border-color: cadetblue;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

.inputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 18px;
}

.inputs input{
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid ; 
  border-color: cornflowerblue;
}

.inputs input:focus{
  outline: 0;
}

.inputs .error {
  color: rgb(233, 88, 88);
  font-size: 16px;
  margin-top: 5px;
}

.inputs.success input{
  border-color: rgb(125, 216, 125);
}

.inputs.error input{
  border-color: rgb(233, 88, 88);
}